.type-tag {
  border-radius: 10px;
  text-align: center;
}

.center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%;
  height: 100%;
}

.selected {
  border: 2px solid red;
}

.best {
  color: blue;
}

.good {
  color: green;
}

.bad {
  color: yellow;
}
