<div class="row">
  <div
    appSquare
    class="col-xs-4 col-sm-2 col-md-2 col-lg-2 type-tag center"
    *ngFor="let counter of counters"
    [style.background-color]="counter.color"
    [ngClass]="{
      selected: isSelected(counter),
      best: isBest(counter),
      good: isGood(counter),
      bad: isBad(counter)
    }"
    (click)="onClickType(counter)"
  ><img class="img-responsive" [src]="'assets/img/types/'+counter.img" /></div>

</div>
