<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Pokémon Helper</a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{'in': menuOpened}">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="counter-list">Counter List</a></li>
        <li routerLinkActive="active"><a routerLink="attack-optimizer">Attack Optimizer</a></li>
      </ul>
    </div>
  </div>
</nav>
