.type-tag {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  color: white;
}

.types-caption {
  display: table-cell;
  padding: 5px;
}

.types-body {
  display: table-cell;
}
