
<h3>Counter List</h3>

<accordion [closeOthers]="true">
  <accordion-group
    *ngFor="let counter of counters"
    [heading]="counter.name + ' ' + counter.cname"
    appAccordionBackgroundColor
    [bgColor]="counter.color">

    <div *ngIf="counter.superEffective.length > 0">
      <div class="types-caption"><i class="fa fa-plus"></i></div>
      <div class="types-body">
        <div
          class="type-tag"
          *ngFor="let superEffectiveId of counter.superEffective"
          [style.background]="getCounter(superEffectiveId).color"
        >{{ getCounter(superEffectiveId).name + ' ' + getCounter(superEffectiveId).cname }}</div>
      </div>
    </div>

    <div *ngIf="counter.notVeryEffective.length > 0">
      <div class="types-caption"><i class="fa fa-minus"></i></div>
      <div class="types-body">
        <div
          class="type-tag"
          *ngFor="let notVeryEffectiveId of counter.notVeryEffective"
          [style.background]="getCounter(notVeryEffectiveId).color"
        >{{ getCounter(notVeryEffectiveId).name + ' ' + getCounter(notVeryEffectiveId).cname }}</div>
      </div>
    </div>

    <div *ngIf="counter.noEffect.length > 0">
      <div class="types-caption"><i class="fa fa-times"></i></div>
      <div class="types-body">
        <div
          class="type-tag"
          *ngFor="let noEffectId of counter.noEffect"
          [style.background]="getCounter(noEffectId).color"
        >{{ getCounter(noEffectId).name + ' ' + getCounter(noEffectId).cname }}</div>
      </div>
    </div>

  </accordion-group>
</accordion>
