<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
